body{
    margin:0;
    padding:0;
    font-family:'Times New Roman', Times, serif;
    font-size:18px;
    box-sizing: border-box;
}
h1{
    font-size:40px
}
h2{
    font-size:36px
}
h3{
    font-size:30px
}
h4{
    font-size:25px
}
.text-center{
    text-align: center;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-basis{
    flex-basis: 50%;
}
.flex-grow{
    flex-grow: 1;
}
.flex{
    flex:0 1 100%;
}
.justify-center{
    justify-content: center;
}
.space-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.btn{
    font-size:20px;
    padding:10px;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #000000;;
}
.auto{
    margin:auto;
}
.container h4{
    font-weight: normal;
}
.container h2, .container h4, .container p, .container h3{
    padding:0 70px;
}
.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
.flex{
    flex:1 1 50%;
}

/*header*/
.header{
    background-color: #FAFAFA;
}
.header div{
    margin-top:10px;
}

.logo-header{
    font-family: Homemade Apple;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #231F20; 
    margin-left:20px;
    line-height: 39px;
}
.get-started{
    border: 1px solid #F7941E;
    padding:10px 20px;
    border-radius: 5px;
    margin-right:20px;
    float: right;
    font-family: Gilroy;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #F7941E;
}

/*top*/
.top-header{
    background: #E5E5E5;
}
.top-header div h2{
    font-family: Gilroy;
    font-size: 56px;
    line-height: 69px;
}
.top-header div p{
    margin-bottom: 50px;
}
.find-gift-now{
    background: #F7941E;
    border-radius: 5px;
    margin:0 70px;
    color: #FFFFFF;
    padding:15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.top-img{
    background-image: url(images/pic1.jpg);
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat;
}

/*next top*/
.top-img-2{
    background-image: url(images/pic2.jpg);
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat;
}
.next-top h4{
    font-weight: bolder;
}
.learn-more{
    text-transform: uppercase;
    color: #F7941E;
    border: 1px solid #F7941E;
    box-sizing: border-box;
    border-radius: 5px;
    padding:15px;
    margin:0 70px;
}

/*gift images*/
.occassions-gift{
    width:85%;
}
.gift{
    margin: 15px;
}
.gift p{
    margin-bottom:40px;
    padding: 0;
}
.gift-img-1{
    background-image: url(images/pic3\ \ \(1\).jpg);
    background-size: cover;
    height:200px;
}
.gift-img-2{
    background-image: url(images/pic3\ \ \(5\).jpg);
    background-size: cover;
    height:200px;
}
.gift-img-3{
    background-image: url(images/pic3\ \ \(6\).jpg);
    background-size: cover;
    height:200px;
}
.gift-img-4{
    background-image: url(images/pic3\ \ \(7\).jpg);
    background-size: cover;
    height:200px;
}

/*contact*/
.contact{
    background: #F7941E;
    justify-content: space-between;
}
.find-gift-2{
    background: #231F20;
    border-radius: 5px;
    padding:15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.how-it-works{
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    padding:15px;
    text-align: center;
    text-transform: uppercase;
}

/*about*/
.about-img{
    background: #231F20;
    color:#FFFFFF;
    margin:auto;
    width:80%;
}
.col-4{
    width:40%;
    height:300px;
    background-image: url(images/pic8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.col-8{
    width:60%
}
.text h3{
    font-family: Gilroy;
    font-size: 48px;
    line-height: 58px;
}
.text a{
    color:#FFFFFF;
    margin:0 70px;
}

/*next about*/
.about-text{
    width: 80%;
}
.about-text h4, .about-text p, .about-text a{
    width:90%;
    padding: 0;
    margin:30px 0;
}
.about-text a{
    font-size:16px;
}
.first-about-text{
    background: #FFFFFF;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
    padding:10px;
}
.second-about-text{
    background: #FFFFFF;
    padding:10px;
}

/*footer*/
.footer{
    background: #FAFAFA;
    margin-top:40px;
}
.footer-1{
    width: 70%;
    margin-bottom: 0;
}
.logo{
    font-family: Homemade Apple;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 39px;
    color: #F7941E;
}
hr{   
    border: 1px solid #000000;
    width:70%;
}
.socials{
    margin-top:50px;
    margin-bottom: 50px;
}
.socials a{
    margin:20px;
}
.socials a i{
    padding:15px;
    background-color: #000000;
    color:#FFFFFF;
    border-radius: 100%;
}
.copyright{
    padding-bottom: 20px;
}




